@model IEnumerable<Linx.WebApp.MVC.ViewModels.MusicaViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Músicas</h2>
<hr />

<a asp-action="Cadastrar" class="botao botao-verde">Cadastrar</a>

<form asp-action="Index" method="get" class="caixa-pesquisa">
    <select name="pesquisarPor" id="pesquisarPor" class="input">
        <option value="">Selecione...</option>
        <option value="artista">Artista</option>
        <option value="genero">Genero</option>
    </select>
    <input type="text" name="valor" id="valor" class="input" />
    <button type="submit" class="botao botao-azul">Pesquisar</button>
</form>


<table class="tabela">
    <thead>
        <tr>
            <th>
                Título
            </th>
            <th>
                Idioma
            </th>
            <th>
                Álbum
            </th>
            <th>
                Gênero
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @(item.Idioma == 1 ? "Inglês" : "Português")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Album.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero.Nome)
                </td>
                <td>
                    <a asp-action="Detalhes" asp-route-id="@item.Id" class="botao botao-azul">Visualizar</a>
                    <a asp-action="Atualizar" asp-route-id="@item.Id" class="botao botao-amarelo">Editar</a>
                    <a asp-action="Remover" asp-route-id="@item.Id" class="botao botao-vermelho">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
