@model IEnumerable<Linx.WebApp.MVC.ViewModels.AlbumViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Albuns</h2>
<hr />

<a asp-action="Cadastrar" class="botao botao-verde">Cadastrar</a>

<table class="tabela">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Artista
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artista.Nome)
                </td>
                <td>
                    <a asp-action="Detalhes" asp-route-id="@item.Id" class="botao botao-azul">Visualizar</a>
                    <a asp-action="Atualizar" asp-route-id="@item.Id" class="botao botao-amarelo">Editar</a>
                    <a asp-action="Remover" asp-route-id="@item.Id" class="botao botao-vermelho">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
